/* Reset all styles */
html, body, header, nav, footer, h1, h2, h3, h4, a, p, div, ul, ol, li {
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  font-family: 'Times New Roman'
}

/* Main CSS */
html {
  background: #aaa url(../images/background/red_plaid.png) repeat;
  font-size: 16px;
}

body {
  font-size: 62.5%; /* 1em = 10px */	
  height: 100%;
}

h1 {
  font-size: 3.6em; /* 36px / 10px */
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;	
  color: #EFAB6C;
}

p {
  font-size: 1.6em;
}

/* Wrapper */
#wrapper {
  min-height: 100%;
  margin-bottom: -100px;
}

#wrapper:after {
  content: "";
  display: block;
  height: 100px;
}

/* Header */
header {
  padding: 10px 0.74129%; /* 10px / 1349px */
  background-color: #cc0033;
}

header img, #header-slogan {
  height: 135px;
  right: 10%;
}

#header-slogan {
  float: right;
  position: relative;
}

#header-slogan img {
  height: 135px;
  width: auto;
}

/* Navigation */
/* General */
nav {
  width: 100%;
  text-align: center;
  background-color: #0A9605;
}

nav li {
  display: inline-block;
}

nav a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5em; /* 15px / 10px */
  display: block;
  padding: 5px 10px;
  color: black;
  background-color: #0A9605;
  text-decoration: none;
}

nav a:hover {
  background-color: blue;
  color: white;
}

/* Second level */
nav .child {
  display: none;
  width: 100%;
  left: 0;
  position:relative;
  background-color: #0A9605;
  border-top: 1px solid black;
}

nav .child li {
  padding-right: 0.833%; /* 5px / 60px */
  padding-left: 0.833%;
}

nav ul li:hover ul {
  display: inline;
  position: absolute;
  z-index: 1;
}

/* Content */
#container {
  background-color: #f7f7e2;
  width: 81.5148%; /* 1100px / 1349px */
  border: 2px solid blue;
  border-radius: 10px;
  margin: 15px auto;
}

#content {
  width: 66.3636%; /* 730px / 1100px */
  margin: 10px;
  margin-left: 0.9090%; /* 10px / 1100px */
  margin-right: 0.4545%; /* 5px / 1100px */
  background-color: blue;
  float:left;
  border-radius: 10px;
}

#content p {
  padding: 0 20px 10px 20px;	
}

aside {
  width: 30.9090%; /* 340px / 1100px */
  margin: 10px;
  margin-right: 0.9090%; /* 10px / 1100px */
  margin-left: 0.4545%; /* 5px / 1100px */
  background-color: #850021;
  float: right;
  border-radius: 10px;
}

aside p {
  padding: 0 20px 10px 20px;	
}

.clearfloat {
  clear: both;	
}

/* Footer */
footer {
  background-color: #cc0022;
  height: 100px;
}

footer h2 {
  font-size: 1.5em;
  font-weight: bold;	
}

footer p {
  font-size: 1.4em;
  font-weight: 300;
}

#footer-contact {
  width: auto;
  padding: 1.282%;	
  float: left;
}

#footer-links {
  width: 200px;
  margin: 0 auto;	
  padding-top: 1.282%;
}

#footer-links a {
  text-decoration: none;
  color: #EB99AD;	
  margin: 0 5px
}

#footer-date {
  float: right;	
  padding: 1.282%;
  text-align: right;
}

#footer-date h3 {
  font-size: 1.4em;	
  font-weight: bold;
}

#footer-date p {
  font-size: 1em;	
}
