/* Reset all styles */
html, body, header, nav, footer, h1, h2, h3, h4, a, p, div, ul, ol, li {
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  font-family: 'Times New Roman'
}

/* Main CSS */
html {
  background: #aaa url(../images/background/red_plaid.png) repeat
}

/* Header */
header {
  padding: 10px;	
  background-color: #cc0033;
}

header img, .header-slogan {
  height: 135px;
}

.header-slogan {
  float: right;
  position: relative;
}

.header-slogan img {
  height: 135px;
  width: auto;
}

/* Navigation */
/* General */
nav {
  width: 100%;
  text-align: center;
  background-color: rgb(12, 171, 7);
}

nav li {
  display: inline-block;
}

nav a {
  display: inline-block;
  padding: 5px 10px;
  color: black;
  background-color: rgb(12, 171, 7);
  text-decoration: none;		
}

nav a:hover {
  background-color: blue;
  color: white;	
}

/* Second level */
nav .child {
  display: none;
  width: 100%;
  left: 0;
  position:relative;
  background-color: rgb(12, 171, 7);
  opacity: 0.8;
}

nav .child li {
  padding-right: 0.833%; /* 5px / 60px */
  padding-left: 0.833%;
}

nav ul li:hover ul {
  display: inline;
  position: absolute;
  z-index: 1;	
}