/* Reset all styles */
html, body, header, nav, footer, h1, h2, h3, h4, a, p, div, ul, ol, li {
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  font-family: 'Times New Roman'
}

/* Main CSS */
html {
  background: #aaa url(../images/background/red_plaid.png) repeat
}

h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;	
}

p {
  font-size: 16px;
  padding: 20px;
}

/* Header */
header {
  padding: 10px 0.74129%; /* 10px / 1349px */
  background-color: #cc0033;
}

header img, #header-slogan {
  height: 135px;
  right: 10%;
}

#header-slogan {
  float: right;
  position: relative;
}

#header-slogan img {
  height: 135px;
  width: auto;
}

/* Navigation */
/* General */
nav {
  width: 100%;
  text-align: center;
  background-color: #0A9605;
}

nav li {
  display: inline-block;
}

nav a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  display: block;
  padding: 5px 10px;
  color: black;
  background-color: #0A9605;
  text-decoration: none;
}

nav a:hover {
  background-color: blue;
  color: white;
}

/* Second level */
nav .child {
  display: none;
  width: 100%;
  left: 0;
  position:relative;
  background-color: #0A9605;
  border-top: 1px solid black;
}

nav .child li {
  padding-right: 0.833%; /* 5px / 60px */
  padding-left: 0.833%;
}

nav ul li:hover ul {
  display: inline;
  position: absolute;
  z-index: 1;
}

/* Content */
#container {
  background-color: #f7f7e2;
  width: 80%;
  border: 2px solid blue;
  border-radius: 10px;
  margin: 15px auto 0px auto;
}

#content {
  width: 65.7104%; /* (1000px - 10px - 5px) / 1499px */
  margin: 10px;
  margin-left: 0.6671%;
  margin-right: 0.3335%;
  background-color: blue;
  float:left;
  border-radius: 10px;
}

aside {
  width: 31.0207%; /* (490 - 10px - 5px) / 1499px */
  margin: 10px;
  margin-right: 0.6671%;
  margin-left: 0.3335%;
  background-color: red;
  float: right;
  border-radius: 10px;
}

.clearfloat {
  clear: both;	
}
