<html>
  <head>
    <title>Chiro Don Bosco Hoboken</title>
    <link rel="stylesheet" href="../CSS/main.css">
  </head>
  <body>
    <header>
      <a href="#">
        <img src="../images/logodbh.png" alt="Chiro Don Bosco Hoboken" />
      </a>
      <div class="header-slogan"> 
        <img src="../images/T-shirt_achterkant_achter_elkaar_(kleur).jpg" alt="Slogan Chiro Don Bosco Hoboken" />
      </div>
    </header>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Afdelingen</a>
          <ul class="child">
            <li><a href="#">Ribbels</a></li>
            <li><a href="#">Rakwi&acute;s</a></li>
            <li><a href="#">Tito&acute;s</a></li>
            <li><a href="#">KeA&acute;s</a></li>
          </ul>
        </li>
        <li><a href="#">Werkgroepen</a>
          <ul class="child">
            <li><a href="#">Leiding</a></li>
            <li><a href="#">Veebees</a></li>
            <li><a href="#">Ol&eacute;</a></li>
            <li><a href="#">VZW</a></li>
          </ul>
        </li>
        <li><a href="#">Verhuur</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Links &amp; weetjes</a></li>
      </ul>
    </nav>
    <div class="container">
      <div>

      </div>
    </div>
  </body>
</html>
