<html>
  <head>
    <title>Chiro Don Bosco Hoboken</title>
    <link rel="stylesheet" href="../CSS/main.css">
  </head>
  <body>
    <header>
      <a href="#">
        <img src="../images/logodbh.png" alt="Chiro Don Bosco Hoboken" />
      </a>
      <div class="header-slogan"> 
        <img src="../images/T-shirt_achterkant_achter_elkaar_(kleur).jpg" alt="Slogan Chiro Don Bosco Hoboken" />
      </div>
    </header>
    <nav>
      <a href="#">Home</a>
      <a href="#">Afdelingen</a>
      <a href="#">Werkgroepen</a>
      <a href="#">Verhuur</a>
      <a href="#">Contact</a>
      <a href="#">Links &amp; weetjes</a>
    </nav>
    <div class="container">
      <div>

      </div>
    </div>
  </body>
</html>
