<html>
  <head>
    <title>Chiro Don Bosco Hoboken</title>
    <link rel="stylesheet" href="../CSS/main.css">
  </head>
  <body>
    <header>
      <a href="#">
        <img src="../images/logodbh_trans.png" alt="Chiro Don Bosco Hoboken" />
      </a>
      <div class="header-slogan">
        <p>
          Hier komt de slogan en anderen van de Chiro.
        </p>
      </div>
    </header>
    <nav>
      
    </nav>
    <div class="container">
      <div>

      </div>
    </div>
  </body>
</html>
